// Place all the styles related to the admins/Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.articles {
  margin: 50px auto;

  /*index*/
  &__title {
    margin-bottom: 30px;
    margin-left: 5%;
  }

  &__search {
    margin-bottom: 20px;
  }

  &__new-form {
    margin-bottom: 20px;

    &--category {
      margin-bottom: 10px;
    }
  }

}