
<!--css => app/assets/stylesheets/customers/customers-articles.scss-->

<div class="customers-articles__sidebar">
  <table class="table table-bordered">
    <tr class="customers-articles__sidebar-table-header">
      <th class="customers-articles__sidebar-table-item"><%= "ジャンル" %></th>
    </tr>

    <% genres.each do |genre| %>
      <% if genre.is_active == true %>
        <tr>
          <td><%= link_to genre.name, articles_path(genre_select: genre.id) %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>