
<!--css => app/assets/stylesheets/customers/about.scss-->

<div class="about">
  <h2 class="about__title">About Us</h2>

  <div class="about__contants">
    <div class="about__section">
      <span class="about__section-title">SeeK Me!とは</span>
      <p class="about__section-introduction">
        ニュースをチェックしながら自分の価値観や興味を知り、自分のやりたいことを発見・発信していけるニュースアプリです。<br />
        普段何気なくチェックしているニュース。<br />
        そこにはあなたの価値観や興味、やりたいことなど、「本当のあなた」がたくさん詰まっています。<br />
        このアプリは、あなたが日々チェックしているニュースを分析して、あなたが大切にしたい価値観を言語化します。<br />
        また、大切なことはニュースから学んだことをアウトプットすることです。<br />
        そのアウトプットの方法や参考になるような情報もご提供いたします。<br />
        あなただけの学び、あなただけのチャレンジを通して、<br />
        あなたが思い描いている理想の人生に向かっていけるよう、サポートできれば幸いです。
      </p>
    </div>

    <div class="about__section">
      <span class="about__section-title">SeeK Me!でできること</span>
      <p class="about__section-do-student">学生の方</p>
      <div class="about__section-do-student--item">
        ニュースの閲覧<br />
        自分の価値観や興味を発見する<br />
        自分のチャレンジを発信する<br />
        みんなのチャレンジを参考にできる
      </div>

      <p class="about__section-do-company">企業の方</p>
      <div class="about__section-do-company--item">
        ニュースの閲覧<br />
        企業のイベント・情報を発信する<br />
        学生のチャレンジをみて、good!ボタンを押せる<br />
        気になる学生にオファーできる
      </div>
    </div>

    <div class="about__section">
      <span class="about__section-title">SeeK Me!の使い方</span>
      <div class="about__section-use">
        ニュースの閲覧履歴を分析して、SeekMe!ページ(My Page内)にあなたが大切にしたい価値観Top3を確認できます。<br />
        各ニュース内には投稿機能があり、記事を参考にして自分がやってみたチャレンジを投稿することができます。<br />
        自分だけのチャレンジをたくさん経験し、人生を自分の手で切り開いていこう！<br />
        また、自分のチャレンジに面白いと思った企業様からアプローチがあることも！？<br />
        就職活動だけでは伝えきれない自分の魅力・経験をたくさん発信することができるツールとしてご活用ください！
      </div>
    </div>

    <span id="back">
      <%= link_to "#" do %>
        <i class="fas fa-arrow-circle-up"></i>
      <% end %>
    </span>
  </div>
</div>