// Place all the styles related to the customers/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.customers {
  width: 90%;
  margin: 0 auto;

  &__title {
    margin-bottom: 30px;
    margin-left: 5%;
  }

  /*show*/
  &__show {
    width: 60%;
    margin: 0 auto;
  }

  &__show-button {
    text-align: right;
    margin-bottom: 30px;

    &--option {
      margin-left: 30px;
    }
  }

  /*edit*/
  &__edit {
    width: 700px;
    margin: 0 auto;
  }

  &__edit-actions {
    display: flex;
    width: 310px;
    margin-left: auto;
    margin-bottom: 30px;

    &--submit {
      margin-right: 50px;
    }

    &--back {
    }
  }

  /*confirm*/
  &__confirm {
    width: 250px;
    margin: 0 auto;
    text-align: center;
  }

  &__confirm-title {
    font-weight: bold;
  }

  &__confirm-title {
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  &__confirm-action {
    margin-bottom: 100px;

    &--hide {
    margin-left: 20px;
    }
  }

  /*favorite*/
  &__favorite {
    width: 80%;
    margin: 0 auto;
  }

  &__favorite-rank {
    display: flex;
    margin-left: 20px;
    margin-bottom: 50px;
  }

  &__favorite-rank-item {
    margin-right: 20px;

    &--label {
      font-weight: bold;
    }
    &--value {
    border: 1px solid #000;
    border-radius: 3px;
    padding: 1px 5px;
    margin-right: 10px;
    background-color: #A9E49C;
    }
  }

  &__favorite-table-header {
    background-color: #80D789;

    &--item-1 {
      width: 50%;
    }
    &--item-2 {
      width: 10%;
    }
    &--item-3 {
      width: 10%;
    }
  }
}