
<!--css => app/assets/stylesheets/customers/about.scss-->

<div class="about">
  <h3 class="about__title">About Us</h3>

  <div class="about__contants">
    <div class="about__introduction">
      <h4>SEEK Me!とは</h4>
      <p>
        ニュースをチェックしながら自分の価値観や興味を知り、自分のやりたいことを発見・発信していけるニュースアプリです。<br />
        普段何気なくチェックしているニュース。<br />
        そこにはあなたの価値観や興味、やりたいことなど、「本当のあなた」がたくさん詰まっています。<br />
        このアプリは、あなたが日々チェックしているニュースを分析して、あなたが大切にしたい価値観を言語化します。<br />
        また、大切なことはニュースから学んだことをアウトプットすることです。<br />
        そのアウトプットの方法や参考になるような情報もご提供いたします。<br />
        あなただけの学び、あなただけのチャレンジを通して、<br />
        あなたが思い描いている理想の人生に向かっていけるよう、サポートできれば幸いです。
      </p>
    </div>

    <div class="about__do">
      <h4>SEEK Me!でできること</h4>
      <div>ニュースの閲覧</div>
      <div>自分の価値観や興味を発見する</div>
      <div>自分がやってみたことを発信する</div>
      <div>みんなのチャレンジを参考にできる</div>
      <div></div>
    </div>

    <div class="about__use">
      <h4>SEEK Me!の使い方</h4>
      <div>自分の価値観と興味をチェック</div>
      <div>自分がやってみたことを投稿する</div>
      <div></div>
    </div>
  </div>
</div>