
<!--css => app/assets/stylesheets/admins/articles.scss-->

<div class="articles__genres-list">
  <table class="table table-bordered">
    <tr>
      <th><%= "ジャンル" %></th>
    </tr>

    <% @genres.each do |genre| %>
      <% if genre.is_active == true %>
        <tr>
          <td><%= link_to genre.name, articles_path %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>